* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

main {
  background-color: #1c1c1c;
  color: white;
}

.d-fl {
  display: flex;
}

.li-st {
  list-style: none;
}

.c-pointer {
  cursor: pointer;
}

.sp-bw {
  justify-content: space-between;
}

header .container {
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  align-items: center;
}

header .container img {
  width: 80px;
  margin-right: 50px;
}

header .container .nav a {
  margin: 0 15px;
}

header .container .nav a.active {
  padding-bottom: 42px;
  color: #0182f9;
  font-weight: bold;
  border-bottom: 3px solid #0182f9;
}

section .container {
  width: 75%;
  padding-top: 80px;
  margin: 0px auto;
}

section .container .cards {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

section .container .cards li {
  margin: 15px 10px;
}

section .container .cards li img {
  width: 190px;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right top;
     object-position: right top;
}

section .container .cards li .text {
  width: 190px;
  margin: 10px 0;
  text-transform: uppercase;
}

section .container .btn-container {
  display: flex;
  justify-content: center;
}

section .container .btn-container .main-button {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #0182f9;
  border: none;
  padding: 10px 60px;
  margin-bottom: 50px;
}

footer {
  background-color: #303030;
  border-top: 20px solid #0182f9;
}

footer .container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
}

footer .container button {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background: transparent;
  padding: 12px 12px;
  border: solid 2px #0182f9;
}

footer .container .footerright {
  align-items: center;
}

footer .container .footerright h3 {
  color: #0182f9;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 10px;
}

footer .container .footerright li {
  margin-left: 15px;
}

